header {
    display: flex;
    flex-direction: column;
}

body {
    padding: 6vh 5vw;
    font-family: 'Roboto Mono', serif;
}

section {
    margin-top: 4vh;
}

@media print {
    body {
        padding: 0 5vw;
        font-size: 12px;
    }

    h1 {
        font-size: 16px;
    }

    h2 {
        font-size: 14px;
    }

    section {
        margin-top: 2vh;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #121212;
    }

    a {
        color: #809fff;
    }
}